@using Logistics_service.Controllers.Dashboard;
@model string;
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <style>
        .button-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .button-container button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <div class="button-container">
        <button onclick="location.href='@Url.Action("AdminGet", "Admin", new { returnUrl = "\\Admin\\viewAllCustomers" })'">Просмотр всех заказчиков</button>
        <button onclick="location.href='@Url.Action("AdminGet", "Admin", new { returnUrl = "\\Admin\\viewAllManagers" })'">Просмотр всех менеджеров</button>
        <button onclick="location.href='@Url.Action("AdminGet", "Admin", new { returnUrl = "\\Admin\\addUser" })'">Добавление пользователя</button>
        <button onclick="location.href='@Url.Action("AdminGet", "Admin", new { returnUrl = "\\Admin\\viewAllOrders" })'">Просмотр всех заказов</button>
        <button onclick="location.href='@Url.Action("AdminGet", "Admin", new { returnUrl = "\\Admin\\manageTransport" })'">Управление транспортом</button>
        <button onclick="location.href='@Url.Action("AdminGet", "Admin", new { returnUrl = "\\Admin\\viewMap" })'">Просмотр карты</button>
    </div>
</body>
</html>