@using System;
@model Logistics_service.Models.Vehicle[]

@{
    Layout = null;
}

<title>ManageTransport</title>
<link rel="stylesheet" href="styles.css">

<div class="container">
    <h1>Список автомобилей</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Гараж</th>
                <th>Скорость</th>
                <th>Статус</th>
                <th>Маршруты</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        @if (item.Garage != null)
                        {
                            @item.Garage.Index
                        }
                    </td>
                    <td>@item.Speed</td>
                    <td>@item.Status</td>
                    @if (item.Routes != null)
                    {
                        <td>
                            @foreach (var route in item.Routes)
                            {
                                <p>
                                    @route.Value.DepartureTime - @route.Key: @((int)route.Value.Distance) м
                                </p>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>