@using System
@using Logistics_service.Models.Users
@model List<Customer>

@{
    Layout = null;
}

<title>ViewAllCustomers</title>
<link rel="stylesheet" href="styles.css">

<h2 class="error-message">@ViewBag.Error</h2>

<div class="container">
    <h1>Список пользователей</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Роль</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                    <td>
                        <input type="image"
                               src="/img/delete.jpg"
                               alt="Удалить"
                               onclick="auth('DELETE', '/Admin/deleteCustomer/@item.Id')"
                               name="deleteButton"
                               width="45"
                               height="45"
                               class="delete-button" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>