@using Logistics_service.Models;
@model Point[]

@{
    Layout = null;
}

<div class="image-container" id="imageContainer"">
    <img src="/img/map.png" alt="map" class="responsive-image" />

    @foreach (var point in Model)
    {
        <button class="point-button" style="left: @point.PosX%; top: @point.PosY%; z-index: 101;" data-index="@point.Index">
            @point.Name
        </button>
    }
</div>

<script id="model" type="application/json">
    @Html.Raw(Json.Serialize(Model))
</script>
<button onclick="addNewLine(1, 3); addNewLine(5, 8); addNewLine(23, 16);">Заполнить</button>