@using Logistics_service.Models.Orders;
@model Tuple<ReadyOrder[], ReadyOrder[], ReadyOrder[], ReadyOrder[]>

@{
    Layout = null;
}

<h2 class="error-message">@ViewBag.Error</h2>

<h2>Непринятые заказы:</h2>
<table>
    <thead>
        <tr>
            <th>Время поступления</th>
            <th>Email менеджера</th>
            <th>Email заказчика</th>
            <th>Время выезда/ доставки</th>
            <th>Id транспорта</th>
            <th>Точки маршрута</th>
            <th>Расстояние</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <td>@item.CreatedAt</td>
                    <td>@item.Email</td>
                    <td>@item.CustomerEmail</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@item.Route.DepartureTime</span>
                        }
                        <span>/ @item.ArrivalTime</span>
                    </td>
                    <td>@item.Vehicle.Id</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            @foreach (var point in item.Route.RoutePoints)
                            {
                                <span>@point.Point.Index</span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@((int)item.Route.Distance)</span>
                        }
                    </td>
                    <td>
                        <input type="button" onclick='sendOrder("DELETE", "/admin/assignOrder", @Html.Raw(Json.Serialize(item.Id)))' value="Принять" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="orders"></div><br/>

<h2>Текущие заказы:</h2>
<table>
    <thead>
        <tr>
            <th>Время поступления</th>
            <th>Email менеджера</th>
            <th>Email заказчика</th>
            <th>Время выезда/ доставки</th>
            <th>Id транспорта</th>
            <th>Точки маршрута</th>
            <th>Расстояние</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Item4)
            {
                <tr>
                    <td>@item.CreatedAt</td>
                    <td>@item.Email</td>
                    <td>@item.CustomerEmail</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@item.Route.DepartureTime</span>
                        }
                        <span>/ @item.ArrivalTime</span>
                    </td>
                    <td>@item.Vehicle.Id</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            @foreach (var point in item.Route.Points)
                            {
                                <span>@point.Index</span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@((int)item.Route.Distance)</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h2>Принятые заказы:</h2>
<table>
    <thead>
        <tr>
            <th>Время поступления</th>
            <th>Email менеджера</th>
            <th>Email заказчика</th>
            <th>Время выезда/ доставки</th>
            <th>Id транспорта</th>
            <th>Точки маршрута</th>
            <th>Расстояние</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>@item.CreatedAt</td>
                    <td>@item.Email</td>
                    <td>@item.CustomerEmail</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@item.Route.DepartureTime</span>
                        }
                        <span>/ @item.ArrivalTime</span>
                    </td>
                    <td>@item.Vehicle.Id</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            @foreach (var point in item.Route.Points)
                            {
                                <span>@point.Index</span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@((int)item.Route.Distance)</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h2>Принятые заказы (не сегодня):</h2>
<table>
    <thead>
        <tr>
            <th>Время поступления</th>
            <th>Email менеджера</th>
            <th>Email заказчика</th>
            <th>Время выезда/ доставки</th>
            <th>Id транспорта</th>
            <th>Точки маршрута</th>
            <th>Расстояние</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Item3)
            {
                <tr>
                    <td>@item.CreatedAt</td>
                    <td>@item.Email</td>
                    <td>@item.CustomerEmail</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@item.Route.DepartureTime</span>
                        }
                        <span>/ @item.ArrivalTime</span>
                    </td>
                    <td>@item.Vehicle.Id</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            @foreach (var point in item.Route.Points)
                            {
                                <span>@point.Index</span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@((int)item.Route.Distance)</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>