@using Logistics_service.Models.Orders
@using Logistics_service.Models.MapModels
@model Tuple<CustomerOrder[], CustomerOrder[], ReadyOrder[], CustomerMapModel>

@{
    Layout = null;
}

<h2 class="error-message">@ViewBag.Error</h2>

<h2>Отклонённые заказы:</h2>
<table>
    <thead>
        <tr>
            <th>Адрес принятия</th>
            <th>Адрес доставки</th>
            <th>Время прибытия</th>
            <th>Причина отказа</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null && Model.Item1 is not null)
        {
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <td>@item.BeginningAddress</td>
                    <td>@item.DestinationAddress</td>
                    <td>@item.ArrivalTime</td>
                    <td>@item.Reason</td>
                </tr>
            }
        }
    </tbody>
</table>

<h2>Ожидающие заказы:</h2>
<table>
    <thead>
        <tr>
            <th>Время создания</th>
            <th>Адрес принятия</th>
            <th>Адрес доставки</th>
            <th>Время прибытия</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null && Model.Item2 is not null)
        {
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>@item.CreatedAt</td>
                    <td>@item.BeginningAddress</td>
                    <td>@item.DestinationAddress</td>
                    <td>@item.ArrivalTime</td>
                    <td>@item.Status</td>
                </tr>
            }
        }
    </tbody>
</table>

<h2>Принятые заказы:</h2>
<table>
    <thead>
        <tr>
            <th>Время выезда</th>
            <th>Время доставки</th>
            <th>Id транспорта</th>
            <th>Точки маршрута</th>
            <th>Расстояние</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null && Model.Item3 is not null)
        {
            @foreach (var item in Model.Item3)
            {
                <tr>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@item.Route.DepartureTime</span>
                        }
                    </td>
                    <td>@item.ArrivalTime</td>
                    <td>@item.Vehicle.Id</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            @foreach (var point in item.Route.Points)
                            {
                                <span>@point.Index</span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@((int)item.Route.Distance)</span>
                        }
                    </td>
                    <td>@item.Status</td>
                </tr>
            }
        }
    </tbody>
</table>

<br />

<div class="image-container" id="imageContainer">
    <img src="/img/map.png" alt="map" class="responsive-image" />

    @{
        for (int i = 0; i < Model.Item4.WaitingOrders.Length; i++)
        {
            Model.Item4.WaitingOrders[i] = new Route(Model.Item4.WaitingOrders[i]);
        }

        var waitingOrders = Model.Item4.WaitingOrders.SelectMany(route => route.Points).ToArray();
        var currentOrders = Model.Item4.CurrentOrders
        .Zip(Model.Item4.CurrentOrdersPoints, (route, currentPoint) =>
        currentPoint != null
        ? new[] { currentPoint }.Concat(route.Points).ToArray()
        : route.Points.ToArray())
        .SelectMany(points => points)
        .ToArray();

        foreach (var point in Model.Item4.Points)
        {
            string buttonStyle = $"left: {@point.PosX}%; top: {@point.PosY}%; z-index: 101;";
            if (Model.Item4.CurrentOrdersPoints is not null && Model.Item4.CurrentOrdersPoints.Contains(point))
            {
                buttonStyle += " background-color: darkred; z-index: 101;";
            }
            else if (waitingOrders.Contains(point) && !currentOrders.Contains(point))
            {
                buttonStyle += " background-color: yellow; z-index: 102;";
            }
            else if (currentOrders.Contains(point))
            {
                buttonStyle += " background-color: red; z-index: 103;";
            }

            <button class="point-button" style="@buttonStyle" data-index="@point.Index">
                @point.Name
            </button>
        }

        foreach (var item in Model.Item4.Vehicles ?? Enumerable.Empty<Vehicle>())
        {
            <button class="point-button" style="left: @((int)item.PosX)%; top: @((int)item.PosY)%; z-index: 105; background-color: white;" data-index="@item.Id">
                @item.Id
            </button>
        }
    }
</div>

<h3>Заказы на дату:    <input id="dateSet" type="date" />    <button onclick="viewMapRedLine('GET', '/Customer/ViewOrders')">Обновить</button></h3>

<script id="model" type="application/json">
    @Html.Raw(Json.Serialize(Model.Item4.Points))
</script>
<script id="modelLine" type="application/json">
    @Html.Raw(Json.Serialize(waitingOrders))
</script>
<script id="modelRedLine" type="application/json">
    @Html.Raw(Json.Serialize(currentOrders))
</script>