@using System
@using Logistics_service.ViewModels
@using Logistics_service.ViewModels.MapModels
@using Logistics_service.ViewModels.OrderModels
@using System.Globalization
@model Tuple<CustomerOrderOutputModel?, VehicleOutputModel[], ReadyOrderOutputModel[], ReadyOrderOutputModel[], ManagerMapModel>

@{
    Layout = null;
}

<title>AssignOrder</title>
<link rel="stylesheet" href="styles.css">

<h2 class="error-message">@ViewBag.Error</h2>

<div class="container">
    <div>
        <h2>Текущий заказ:</h2>
        <table>
            <thead>
                <tr>
                    <th>Время заказа</th>
                    <th>Email</th>
                    <th>Адрес получения</th>
                    <th>Адрес доставки</th>
                    <th>Время доставки</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Item1 is not null)
                {
                    <tr>
                        <td>@Model.Item1.CreatedAt</td>
                        <td id="CustomerEmail">@Model.Item1.Email</td>
                        <td>@Model.Item1.BeginningAddress</td>
                        <td>@Model.Item1.DestinationAddress</td>
                        <td>@Model.Item1.ArrivalTime</td>
                        <td>
                            <input type="text" id="reason" placeholder="Причина отказа" />
                            <input type="button" onclick='sendReasonOrder("DELETE", "/manager/rejectOrder", @Html.Raw(Json.Serialize(Model.Item1)))' value="Отклонить" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>

    <div>
        <h2>Отправить заказ:</h2>
        <form id="createOrderForm" asp-action="assignOrder" method="post" onsubmit="assignOrder(event, 'POST', '/manager/assignOrder')">
            <div asp-validation-summary="All" class="error-message"></div>

            <div class="form-group">
                <label for="StartPointId">Начальная точка маршрута:</label>
                <input id="StartPointId" type="number" name="StartPointId" />
                <span class="error-message" data-valmsg-for="StartPointId"></span>
            </div>

            <div class="form-group">
                <label for="EndPointId">Конечная точка маршрута:</label>
                <input id="EndPointId" type="number" name="EndPointId" />
                <span class="error-message" data-valmsg-for="EndPointId"></span>
            </div>

            <div class="form-group">
                <label for="VehicleId">Выберите транспорт:</label>
                <select id="VehicleId" name="VehicleId">
                    @foreach (var vehicle in Model.Item2)
                    {
                        <option value="@vehicle.Id">@vehicle.Id - @vehicle.Status</option>
                    }
                </select>
                <span class="error-message" data-valmsg-for="VehicleId"></span>
            </div>

            <div class="form-group">
                <label for="ArrivalTime">Время доставки:</label>
                <input type="datetime-local" id="ArrivalTime" name="ArrivalTime" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                <span class="error-message" data-valmsg-for="ArrivalTime"></span>
            </div>

            <div class="button-container">
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>

<h2>Текущие заказы:</h2>
<table>
    <thead>
        <tr>
            <th>Время поступления</th>
            <th>Email менеджера</th>
            <th>Email заказчика</th>
            <th>Время выезда/доставки</th>
            <th>Id транспорта</th>
            <th>Точки маршрута</th>
            <th>Расстояние</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null && Model.Item3 is not null)
        {
            @foreach (var item in Model.Item3)
            {
                <tr>
                    <td>@item.CreatedAt</td>
                    <td>@item.Email</td>
                    <td>@item.CustomerEmail</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@item.Route.DepartureTime</span>
                        }
                        <span>/ @item.ArrivalTime</span>
                    </td>
                    <td>@item.Vehicle.Id</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            @foreach (var point in item.Route.RoutePoints)
                            {
                                <span>@point.Name</span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@((int)item.Route.Distance)</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h2>Принятые заказы:</h2>
<table>
    <thead>
        <tr>
            <th>Время поступления</th>
            <th>Email менеджера</th>
            <th>Email заказчика</th>
            <th>Время выезда/доставки</th>
            <th>Id транспорта</th>
            <th>Точки маршрута</th>
            <th>Расстояние</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Item4)
            {
                <tr>
                    <td>@item.CreatedAt</td>
                    <td>@item.Email</td>
                    <td>@item.CustomerEmail</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@item.Route.DepartureTime</span>
                        }
                        <span>/ @item.ArrivalTime</span>
                    </td>
                    <td>@item.Vehicle.Id</td>
                    <td>
                        @if (item.Route is not null)
                        {
                            @foreach (var point in item.Route.RoutePoints)
                            {
                                <span>@point.Name</span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.Route is not null)
                        {
                            <span>@((int)item.Route.Distance)</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />

<div class="image-container" id="imageContainer">
    <img src="/img/map.png" alt="map" class="responsive-image" />

    @{
        var waitingOrders = Model.Item5.WaitingOrders.SelectMany(route => route.RoutePoints).ToArray();
        var currentOrders = Model.Item5.CurrentOrders
        .Zip(Model.Item5.CurrentOrdersPoints, (route, currentPoint) =>
        currentPoint != null
        ? new[] { currentPoint }.Concat(route.Points).ToArray()
        : route.Points.ToArray())
        .SelectMany(points => points)
        .ToArray();

        foreach (var point in Model.Item5.Points)
        {
            string buttonStyle = $"left: {@point.PosX}%; top: {@point.PosY}%; z-index: 101;";
            if (Model.Item5.Route is not null && Model.Item5.Route.Contains(point))
            {
                buttonStyle += " background-color: blue; z-index: 104;";
            }
            else if (Model.Item5.CurrentOrdersPoints is not null && Model.Item5.CurrentOrdersPoints.Contains(point))
            {
                buttonStyle += " background-color: darkred; z-index: 101;";
            }
            else if (waitingOrders.Contains(point) && !currentOrders.Contains(point))
            {
                buttonStyle += " background-color: yellow; z-index: 102;";
            }
            else if (currentOrders.Contains(point))
            {
                buttonStyle += " background-color: red; z-index: 103;";
            }

            <button class="point-button" style="@buttonStyle" data-index="@point.Index">
                @point.Name
            </button>
        }

        foreach (var item in Model.Item5.Vehicles ?? Enumerable.Empty<VehicleOutputModel>())
        {
            <button class="point-button"
                    style="left: @item.PosX.ToString(CultureInfo.InvariantCulture)%; top: @item.PosY.ToString(CultureInfo.InvariantCulture)%; z-index: 105; background-color: white;"
                    data-index="@item.Id">
                @item.Id
            </button>
        }
    }
</div>

<table>
    <thead>
        <tr>
            <th>Начало</th>
            <th>Конец</th>
            <th>Расстояние</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="number" id="startNum" /></td>
            <td><input type="number" id="endNum" /></td>
            <td>
                @if (Model.Item5.Distance is not null)
                {
                    <p>@Model.Item5.Distance</p>
                }
            </td>
        </tr>
    </tbody>
</table>

<h3>Заказы на дату:    <input id="dateSet" type="date" />    <button onclick="viewMapLine('POST', '/Manager/viewAssignOrder')">Обновить</button></h3>

<script id="model" type="application/json">
    @Html.Raw(Json.Serialize(Model.Item5.Points))
</script>
<script id="modelLine" type="application/json">
    @Html.Raw(Json.Serialize(waitingOrders))
</script>
<script id="modelRedLine" type="application/json">
    @Html.Raw(Json.Serialize(currentOrders))
</script>
<script id="modelAddLine" type="application/json">
    @Html.Raw(Json.Serialize(Model.Item5.Route))
</script>