@using Logistics_service.Models;
@using Logistics_service.Models.Orders;
@model Tuple<Point[], CustomerOrder, Route[], Route[], Point[]?, double?, Vehicle[]>

@{
    Layout = null;
}

<h2 class="error-message">@ViewBag.Error</h2>

<div class="image-container" id="imageContainer">
    <img src="/img/map.png" alt="map" class="responsive-image" />
    @{
        var waitingOrders = Model.Item3.SelectMany(route => route.Points).ToArray();
        var currentOrders = Model.Item4.SelectMany(route => route.Points).ToArray();

        foreach (var point in Model.Item1)
        {
            if (Model.Item5 is not null && Model.Item5.Contains(point))
            {
                <button class="point-button" style="left: @point.PosX%; top: @point.PosY%; z-index: 101; background-color: blue;" data-index="@point.Index">
                    @point.Name
                </button>
            }
            else if (waitingOrders.Contains(point) && !currentOrders.Contains(point))
            {
                <button class="point-button" style="left: @point.PosX%; top: @point.PosY%; z-index: 102; background-color: yellow;" data-index="@point.Index">
                    @point.Name
                </button>
            }
            else if (currentOrders.Contains(point))
            {
                <button class="point-button" style="left: @point.PosX%; top: @point.PosY%; z-index: 103; background-color: red;" data-index="@point.Index">
                    @point.Name
                </button>
            }
            else
            {
                <button class="point-button" style="left: @point.PosX%; top: @point.PosY%; z-index: 101;" data-index="@point.Index">
                    @point.Name
                </button>
            }
        }
    }
</div>

<button onclick="viewMapRedLine('GET', '/Manager/viewMap')">Обновить</button>

@if (Model.Item6 != null)
{
    <h2>Расстояние: @Model.Item6</h2>
}

<div>
    <h2>Текущий заказ:</h2>
    <table>
        <thead>
            <tr>
                <th>Время заказа</th>
                <th>Email</th>
                <th>Адрес получения</th>
                <th>Адрес доставки</th>
                <th>Время доставки</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Item2 != null)
            {
                <tr>
                    <td>@Model.Item2.CreatedAt</td>
                    <td>@Model.Item2.Email</td>
                    <td>@Model.Item2.BeginningAddress</td>
                    <td>@Model.Item2.DestinationAddress</td>
                    <td>@Model.Item2.ArrivalTime</td>
                </tr>
            }
        </tbody>
    </table><br />
    
    <table>
        <thead>
            <tr>
                <th>Начало</th>
                <th>Конец</th>
                <th>Добавить</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" id="startNum" /></td>
                <td><input type="number" id="endNum"/></td>
                <td><input type="button" onclick="viewMapLine(`POST`, `/Manager/addLine`)" value="Добавить" /></td>
            </tr>
        </tbody>
    </table>
</div>

<script id="model" type="application/json">
    @Html.Raw(Json.Serialize(Model.Item1))
</script>
<script id="modelAddLine" type="application/json">
    @Html.Raw(Json.Serialize(Model.Item5))
</script>
<script id="modelLine" type="application/json">
    @Html.Raw(Json.Serialize(waitingOrders))
</script>
<script id="modelRedLine" type="application/json">
    @Html.Raw(Json.Serialize(currentOrders))
</script>